.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    flex: 1;
    padding: 20px;
    background-color: #e9ecef;

    section {
      margin-bottom: 20px;

      h2 {
        font-size: 1.5rem;
        color: #343a40;
      }

      p {
        font-size: 1rem;
        color: #6c757d;
      }
    }
  }
}
